test/data/bam/CHM13_chr8_chr21.bam filter=lfs diff=lfs merge=lfs -text
test/data/fa/CHM13_chr8_chr21.fa.gz filter=lfs diff=lfs merge=lfs -text
test/calculate_windows/expected/expected_bin_freq.bed filter=lfs diff=lfs merge=lfs -text
test/calculate_windows/expected/original_bin_freq.bed filter=lfs diff=lfs merge=lfs -text
test/calculate_windows/input/CHM13_methyl.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/expected/CHM13_cdr.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/expected/HG00731_cdr.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/input/CHM13_intersect.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/input/HG00731_intersect.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/input/NA19331_intersect.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/expected/NA19331_cdr.bed filter=lfs diff=lfs merge=lfs -text
test/cdr/expected/CHM13_cdr_chr8_params.bed filter=lfs diff=lfs merge=lfs -text
